
.wrapper {
    background-color: white;
    position: absolute;
    left: 50%;
    top: 30%;
    transform: translate(-50%);
    padding: 20px;
    line-height: 30px;
} 

.card {
    width: 1200px;
    background-color: white;
    padding: 3px;
}
.card-head {
    width: 1200px;
    padding: 3px;
}
.card-body {
    width: 1200px;
    height: 300px;
    margin: 0px;
    padding: 3px;
    display: flex;
    justify-content: center;
}

.title h1 {
    font-size: 3em;
    text-align: center;
}

.card-body p {
    width: 800px;
    margin: 0;
    padding: 10px;
    text-align: center;
    font-size: 2.8em;
    line-height: 45px;
}

